name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential
        
    - name: Make
      run: make

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: build artifacts
        path: |
          - ./dterm
          - ./LICENCE.txt
          - ./README.txt
